html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

button,
input[type='checkbox'] {
  outline: none;
}

#root,
._1XP1U {
  min-height: 100vh;
}

._1XP1U {
  background: #fff;
  overflow: auto;
}

._1V4K2 {
  display: flex;
  flex-wrap: wrap;
}

._1V4K2 ._3HFLK {
  flex: 1;
  padding-left: 15px;
}

._3P14r {
  padding: 0 10px;
}
._3P14r label,
._3P14r input {
  display: block;
  width: 100%;
  padding: 10px;
}
._3P14r button {
  position: relative;
  vertical-align: top;
  width: 250px;
  height: 30px;
  padding: 0;
  margin: 15px 0 15px auto;
  display: block;
  font-size: 18px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
  box-shadow: inset 0 -2px #2a8bcc;
}
._3P14r button:active {
  top: 1px;
  outline: none;
  box-shadow: none;
}

._3TK86 {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

._33Jvj {
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

._33Jvj ._2tN5B,
._33Jvj ._10Bnm {
  display: inline;
  position: relative;
  padding-right: 10px;
  width: 18px;
  height: 18px;
}

._33Jvj ._10Bnm {
  padding-right: 24px;
}

._33Jvj ._2tN5B:before {
  content: '';
  display: inline-block;
  width: 9px;
  height: 18px;
  border: solid #bada55;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

._33Jvj ._10Bnm:before,
._33Jvj ._10Bnm:after {
  content: '';
  position: absolute;
  width: 18px;
  top: 50%;
  left: 0;
  background: #000;
  height: 3px;
  margin-top: -2px;
}

._33Jvj ._10Bnm:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

._33Jvj ._10Bnm:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

._1L-Mg {
  position: relative;
  vertical-align: top;
  width: 350px;
  height: 40px;
  padding: 0;
  margin: 15px auto;
  display: block;
  font-size: 18px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
  box-shadow: inset 0 -2px #2a8bcc;
}

._1L-Mg:active {
  top: 1px;
  outline: none;
  box-shadow: none;
}

._2WTtL {
  max-height: 400px;
  overflow-y: scroll;
}

._3RxrK {
  width: 100%;
  border-collapse: collapse;
}

._3RxrK .number {
  text-align: center;
}

._3RxrK thead {
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

._3RxrK thead th {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: left;
}

._3RxrK thead th:first-child {
  padding-left: 10px;
}

._3RxrK tbody tr {
  border-bottom: 1px solid #f2f2f2;
}

._3RxrK tbody td {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #808080;
  font-size: 15px;
  line-height: 1.4;
}

._3RxrK tbody td:first-child {
  padding-left: 10px;
}

._2omFd {
  text-align: center;
  width: 100%;
}

._3ZXyf {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

._3ZXyf div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid;
  border-radius: 50%;
  -webkit-animation: _1wxTH 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: _1wxTH 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(240, 198, 198) transparent transparent transparent;
}

._3ZXyf div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

._3ZXyf div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

._3ZXyf div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes _1wxTH {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes _1wxTH {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

._3NYav {
  flex: 0 0 auto;
  flex-basis: 25%;
}

